<a href="https://colab.research.google.com/github/jrenatom/tarefa1_PL_A1/blob/main/C%C3%B3pia_de_%5BNogare%5D_Trilha_6_Download_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Download do dataset

Este *jupyter notebook* é extra à trilha 6 do componente curricular, possibilitando estudantes reproduzirem a coleta inicial do *dataset* utilizado como fonte de estudos desta trilha.

O processo é relativamente simples, seguindo os passos:

**1)** Instalação e carregamento do pacote *tidyverse*

**2)** Acesso à URL onde há o conjunto de dados;

**3)** Download do arquivo de 1.6Gb (este tempo pode demorar de acordo com sua conexão de internet)

**4)** Descompactação do arquivo, aumentando para 12Gb o tamanho dos arquivos;

**5)** Carregamento de um arquivo que foi extraído, com 7 milhões de observações, em um dataframe;

**6)** Seleção aleatória de 100.000 observações desta lista de 7 milhões;

**7)** Criação de um arquivo CSV com as 100.000 observações, totalizando 10Mb.

O código abaixo permite fazer a instalação e carregamento do pacote *tidyverse*.

In [1]:
install.packages('tidyverse')
library('tidyverse')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Abaixo é escrito na variável URL o caminho para fazer download do *dataset* completo. Em seguida, é criada uma nova variável com o nome que o arquivo terá no seu computador local.

In [2]:
URL <- "http://ww2.amstat.org/sections/graphics/datasets/DataExpo2009.zip"
nomeArquivo <- "arquivo_baixado.zip"

A função *download.file* irá trabalhar com dois parâmetros, um dizendo qual é o local onde está o arquivo a ser baixado da internet para seu computador local, e o segundo é o nome que este arquivo terá.

In [4]:
download.file(URL, nomeArquivo)

Warning message in download.file(URL, nomeArquivo):
“downloaded length 120610206 != reported length 1658323747”
Warning message in download.file(URL, nomeArquivo):
“URL 'https://ww2.amstat.org/sections/graphics/datasets/DataExpo2009.zip': Timeout of 60 seconds was reached”

ERROR: ignored

Após o download do arquivo, é necessário fazer a extração dos arquivos internos. Este arquivo tem a característica de um Zip, que comprime em um único arquivo toda uma estrutura de arquivos. Neste caso, é utilizada a função *Unzip* para extrair todos os arquivos de dentro do Zip.

In [ ]:
unzip(nomeArquivo)

Depois dos arquivos serem descompactados, faremos o carregamento dos dados em um *Data Frame*. Utilizando a função *read_csv* do pacote *tidyverse* é possivel ler um dos arquivos que baixou e então atribuí-lo à uma variável.

In [5]:
# voos2008 <- read_csv("DataExpo2009\\2008.csv.bz2")
voos2008 <- read_csv("https://raw.githubusercontent.com/Rogerio-mack/Ling-de-Prog-para-Ciencia-de-Dados/master/voos2008.csv")

Rows: 100000 Columns: 29
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): UniqueCarrier, TailNum, Origin, Dest, CancellationCode
dbl (24): Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

O conjunto de dados é grande, possui 7 milhões de linhas.

Para facilitar o trabalho, vamos executar a randomização destas 7 milhões de observações para coletar 100.000 registros aleatórios. 
É recomendado que seja configurado o *seed* de 42. Isso é importante para permitir a reproduzibilidade do experimento. A semente de aleatoriedade permite que, independente de qual ambiente seja executado o experimento, todos estudantes terão os mesmos resultados.

Para validar, repare que ao manter a semente como 42, é esperado que os 6 primeiros numeros de vôo sejam: 'N913SW' | 'N212WN' | 'N69602'| 'N550JB' | 'N284YV' | 'N305SW'

In [6]:
head(voos2008)

  Year Month DayofMonth DayOfWeek DepTime CRSDepTime ArrTime CRSArrTime
1 2008 9     21         7         1909    1900       2040    2036
2 2008 9     18         4         1440    1445       1630    1636
3 2008 8     11         1         2033    2035       2335    2340
4 2008 5      3         6         1936    1930       2012    2007
5 2008 5     13         2         2332    2340        654     719
6 2008 1     13         7          907     915       1008    1020
  UniqueCarrier FlightNum ⋯ TaxiIn TaxiOut Cancelled CancellationCode Diverted
1 DL             156      ⋯ 10     17      0         NA               0
2 US            1199      ⋯  5     24      0         NA               0
3 AA             864      ⋯  7     12      0         NA               0
4 HA             556      ⋯  5     10      0         NA               0
5 US            1404      ⋯  4     14      0         NA               0
6 MQ            3661      ⋯  2     13      0         NA               0
  CarrierDelay WeatherDelay NASDelay SecurityDelay LateAircraftDelay
1 NA           NA           NA       NA            NA
2 NA           NA           NA       NA            NA
3 NA           NA           NA       NA            NA
4 NA           NA           NA       NA            NA
5 NA           NA           NA       NA            NA
6 NA           NA           NA       NA            NA

In [ ]:
set.seed(1)
sample(5)

[1] 1 4 3 5 2

In [ ]:
set.seed(42)
sample(5)

[1] 1 5 4 3 2

In [7]:
set.seed(42)

sampleDados <- sample_n(voos2008, 100000)
str(sampleDados)

head(sampleDados$TailNum)

spec_tbl_df [100,000 × 29] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Year             : num [1:100000] 2008 2008 2008 2008 2008 ...
 $ Month            : num [1:100000] 4 3 3 8 2 11 10 4 9 9 ...
 $ DayofMonth       : num [1:100000] 10 28 24 19 8 8 8 5 2 13 ...
 $ DayOfWeek        : num [1:100000] 4 5 1 2 5 6 3 6 2 6 ...
 $ DepTime          : num [1:100000] 617 1934 844 2152 1911 ...
 $ CRSDepTime       : num [1:100000] 600 1935 840 2155 1859 ...
 $ ArrTime          : num [1:100000] 844 2132 1045 2319 2041 ...
 $ CRSArrTime       : num [1:100000] 755 2138 1035 2325 2041 ...
 $ UniqueCarrier    : chr [1:100000] "9E" "DL" "MQ" "WN" ...
 $ FlightNum        : num [1:100000] 3753 940 3459 3485 4762 ...
 $ TailNum          : chr [1:100000] "88369E" "N945DL" "N678AE" "N767SW" ...
 $ ActualElapsedTime: num [1:100000] 147 118 121 87 90 171 93 182 142 140 ...
 $ CRSElapsedTime   : num [1:100000] 115 123 115 90 102 185 105 195 155 140 ...
 $ AirTime          : num [1:100000] 102 97 99 73 68 151 73 164 129 120 ...
 $ ArrDelay         : num [1:100000] 49 -6 10 -6 0 -15 -13 -15 -15 -6 ...
 $ DepDelay         : num [1:100000] 17 -1 4 -3 12 -1 -1 -2 -2 -6 ...
 $ Origin           : chr [1:100000] "FNT" "CVG" "DFW" "SAN" ...
 $ Dest             : chr [1:100000] "LGA" "LGA" "VPS" "SMF" ...
 $ Distance         : num [1:100000] 530 585 626 480 526 ...
 $ TaxiIn           : num [1:100000] 15 6 6 7 7 9 2 5 4 6 ...
 $ TaxiOut          : num [1:100000] 30 15 16 7 15 11 18 13 9 14 ...
 $ Cancelled        : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ CancellationCode : chr [1:100000] NA NA NA NA ...
 $ Diverted         : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ CarrierDelay     : num [1:100000] 17 NA NA NA NA NA NA NA NA NA ...
 $ WeatherDelay     : num [1:100000] 0 NA NA NA NA NA NA NA NA NA ...
 $ NASDelay         : num [1:100000] 32 NA NA NA NA NA NA NA NA NA ...
 $ SecurityDelay    : num [1:100000] 0 NA NA NA NA NA NA NA NA NA ...
 $ LateAircraftDelay: num [1:100000] 0 NA NA NA NA NA NA NA NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   Year = col_double(),
  ..   Month = col_double(),
  ..   DayofMonth = col_double(),
  ..   DayOfWeek = col_double(),
  ..   DepTime = col_double(),
  ..   CRSDepTime = col_double(),
  ..   ArrTime = col_double(),
  ..   CRSArrTime = col_double(),
  ..   UniqueCarrier = col_character(),
  ..   FlightNum = col_double(),
  ..   TailNum = col_character(),
  ..   ActualElapsedTime = col_double(),
  ..   CRSElapsedTime = col_double(),
  ..   AirTime = col_double(),
  ..   ArrDelay = col_double(),
  ..   DepDelay = col_double(),
  ..   Origin = col_character(),
  ..   Dest = col_character(),
  ..   Distance = col_double(),
  ..   TaxiIn = col_double(),
  ..   TaxiOut = col_double(),
  ..   Cancelled = col_double(),
  ..   CancellationCode = col_character(),
  ..   Diverted = col_double(),
  ..   CarrierDelay = col_double(),
  ..   WeatherDelay = col_double(),
  ..   NASDelay = col_double(),
  ..   SecurityDelay = col_double(),
  ..   LateAircraftDelay = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

[1] "88369E" "N945DL" "N678AE" "N767SW" "N682BR" "N5EHAA"

Por fim, este conjunto de dados de exemplo com 100.000 observações será salvo em um arquivo chamado *voos2008.csv*, e isso é feito com a função *write_csv* do pacote *tidyverse*.

In [8]:
write_csv(sampleDados, 'voos2008.csv')

Repare na sua pasta de trabalho que existe um arquivo chamado **voos2008.csv** com aproximadamente 10Mb de tamanho. Este arquivo também está disponível para download dentro dos arquivos disponíveis no componente curricular.

# Desafios

## 5.1. Minimizar atrasos

In [11]:
novoDataset <- voos2008 %>%
select(Year,Month,DayofMonth,DepTime,DepDelay,ArrDelay,Cancelled)

In [12]:
str(novoDataset)
head(novoDataset)

tibble [100,000 × 7] (S3: tbl_df/tbl/data.frame)
 $ Year      : num [1:100000] 2008 2008 2008 2008 2008 ...
 $ Month     : num [1:100000] 9 9 8 5 5 1 9 10 5 5 ...
 $ DayofMonth: num [1:100000] 21 18 11 3 13 13 17 8 17 4 ...
 $ DepTime   : num [1:100000] 1909 1440 2033 1936 2332 ...
 $ DepDelay  : num [1:100000] 9 -5 -2 6 -8 -8 6 -7 4 -12 ...
 $ ArrDelay  : num [1:100000] 4 -6 -5 5 -25 -12 6 -13 5 -42 ...
 $ Cancelled : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...

  Year Month DayofMonth DepTime DepDelay ArrDelay Cancelled
1 2008 9     21         1909     9         4      0
2 2008 9     18         1440    -5        -6      0
3 2008 8     11         2033    -2        -5      0
4 2008 5      3         1936     6         5      0
5 2008 5     13         2332    -8       -25      0
6 2008 1     13          907    -8       -12      0

In [13]:
novoDataset <- voos2008 %>%
select(Year,Month,DayofMonth,DepTime,DepDelay,ArrDelay,Cancelled) %>%
filter(Month == 9)
str(novoDataset)

tibble [7,739 × 7] (S3: tbl_df/tbl/data.frame)
 $ Year      : num [1:7739] 2008 2008 2008 2008 2008 ...
 $ Month     : num [1:7739] 9 9 9 9 9 9 9 9 9 9 ...
 $ DayofMonth: num [1:7739] 21 18 17 19 11 2 12 15 12 10 ...
 $ DepTime   : num [1:7739] 1909 1440 1054 1742 1925 ...
 $ DepDelay  : num [1:7739] 9 -5 6 -3 -5 -5 -5 NA -6 33 ...
 $ ArrDelay  : num [1:7739] 4 -6 6 -16 11 -15 -10 NA 8 38 ...
 $ Cancelled : num [1:7739] 0 0 0 0 0 0 0 1 0 0 ...

Média de atraso

In [ ]:
head(novoDataset$DepDelay)
mean(novoDataset$DepDelay, na.rm = TRUE)

[1]  9 -5  6 -3 -5 -5

[1] 3.728758

In [14]:
voos2008 %>%
 select(Month,DepDelay) %>%
 group_by(Month)  %>%
 mutate(atrasoMedio = mean(DepDelay, na.rm = TRUE)) %>%
 select(Month,atrasoMedio) %>%
 unique()  %>%
 arrange(atrasoMedio)

   Month atrasoMedio
1   9     3.728758
2  10     4.084229
3  11     5.606048
4   5     7.768342
5   4     8.237131
6   8    10.654034
7   1    11.328178
8   7    11.843637
9   3    12.263297
10  6    13.610787
11  2    13.692327
12 12    17.940197

reposta mês 9 menor atraso, porque repetiu na inversão do unique select, simular o momento certo de fazer o unique

In [15]:
voos2008 %>%
 select(Month,DepDelay) %>%
 group_by(Month)  %>%
 mutate(atrasoMedio = mean(DepDelay, na.rm = TRUE)) %>%
 #select(Month,atrasoMedio) %>%
 unique() %>%
 arrange(atrasoMedio)

     Month DepDelay atrasoMedio
1    9       9      3.728758
2    9      -5      3.728758
3    9       6      3.728758
4    9      -3      3.728758
5    9      NA      3.728758
6    9      -6      3.728758
7    9      33      3.728758
8    9       1      3.728758
9    9      -7      3.728758
10   9       2      3.728758
11   9      -8      3.728758
12   9      -2      3.728758
13   9     -10      3.728758
14   9       3      3.728758
15   9      -9      3.728758
16   9       5      3.728758
17   9      16      3.728758
18   9     122      3.728758
19   9      41      3.728758
20   9      12      3.728758
21   9     -13      3.728758
22   9      28      3.728758
23   9      38      3.728758
24   9       0      3.728758
25   9      -1      3.728758
26   9     -11      3.728758
27   9      22      3.728758
28   9      10      3.728758
29   9      -4      3.728758
30   9      13      3.728758
⋮    ⋮     ⋮        ⋮
2827 12    160      17.9402
2828 12    168      17.9402
2829 12    196      17.9402
2830 12    117      17.9402
2831 12    294      17.9402
2832 12    325      17.9402
2833 12    197      17.9402
2834 12    394      17.9402
2835 12    269      17.9402
2836 12    966      17.9402
2837 12    459      17.9402
2838 12    230      17.9402
2839 12    290      17.9402
2840 12    239      17.9402
2841 12    282      17.9402
2842 12    309      17.9402
2843 12    155      17.9402
2844 12    191      17.9402
2845 12    166      17.9402
2846 12    -17      17.9402
2847 12    -28      17.9402
2848 12    198      17.9402
2849 12    218      17.9402
2850 12    429      17.9402
2851 12    475      17.9402
2852 12    170      17.9402
2853 12    317      17.9402
2854 12    200      17.9402
2855 12    316      17.9402
2856 12    228      17.9402

## 5.2. Qual aeroporto devemos evitar?

In [16]:
voos2008 %>%
 select(Origin, DepDelay) %>%
 head(10)

   Origin DepDelay
1  MCO      9
2  EWR     -5
3  DFW     -2
4  HNL      6
5  LAS     -8
6  DFW     -8
7  JAN      6
8  SLC     -7
9  BOS      4
10 TUS    -12

In [17]:
voos2008 %>%
 select(Origin, DepDelay) %>%
 group_by(Origin) %>%
 mutate(totalAtraso = sum(DepDelay, na.rm = TRUE)) %>%
 head(10)

   Origin DepDelay totalAtraso
1  MCO      9      20649
2  EWR     -5      35770
3  DFW     -2      43555
4  HNL      6       1784
5  LAS     -8      24756
6  DFW     -8      43555
7  JAN      6       1986
8  SLC     -7      11334
9  BOS      4      16569
10 TUS    -12       2322

In [18]:
voos2008 %>%
 select(Origin, DepDelay) %>%
 group_by(Origin) %>%
 mutate(totalAtraso = sum(DepDelay, na.rm = TRUE)) %>%
 select(Origin, totalAtraso) %>%
 unique() %>%
 arrange(desc(totalAtraso)) %>%
 head(10)

   Origin totalAtraso
1  ORD    82327
2  ATL    68122
3  DFW    43555
4  EWR    35770
5  DEN    35063
6  LAX    30335
7  IAH    27415
8  SFO    26169
9  PHX    25232
10 LAS    24756

## 5.3 Voos cancelados

In [19]:
voosCancelados <- voos2008 %>%
 select(Cancelled, CancellationCode) %>%
     filter(Cancelled == 1) %>%
   group_by(CancellationCode) %>%
 mutate(totalAtraso = sum(Cancelled)) %>%
     select(CancellationCode, totalAtraso) %>%
 unique() %>%
             arrange(desc(totalAtraso))
head(voosCancelados)

  CancellationCode totalAtraso
1 A                790
2 B                785
3 C                416

In [20]:
codigoCancelamento = c('A','B','C','D')
descricaoCancelamento = c('Operadora', 'Clima', 'NAS', 'Segurança')

In [21]:
tiposOcorrencias <- data.frame(Codigo = codigoCancelamento, Descricao =
descricaoCancelamento)
head(tiposOcorrencias)

  Codigo Descricao
1 A      Operadora
2 B      Clima
3 C      NAS
4 D      Segurança

In [22]:
a <- inner_join(x=voosCancelados,y=tiposOcorrencias, by = c("CancellationCode" =
"Codigo"))  

a %>% select(Descricao, totalAtraso)

Adding missing grouping variables: `CancellationCode`

  CancellationCode Descricao totalAtraso
1 A                Operadora 790
2 B                Clima     785
3 C                NAS       416

In [25]:
a <- inner_join(x=voosCancelados,y=tiposOcorrencias, by = c("CancellationCode" =
"Codigo"))  

a %>% select(Descricao, totalAtraso)

Adding missing grouping variables: `CancellationCode`

  CancellationCode Descricao totalAtraso
1 A                Operadora 790
2 B                Clima     785
3 C                NAS       416

## Desafios Adicional

### Pergunta 1) Aproveitando a função mutate, como deve ser feito o cálculo de tempo
médio de atraso de voo com todas as observações (linhas) que temos no dataset original?
Mostre os dez primeiros registros deste resultado.

In [23]:
voos2008 %>%
 select(ArrTime,CRSArrTime, ArrDelay, TailNum, Month) %>%
 group_by(TailNum) %>%
 mutate(tempoAtraso = mean(ArrTime - CRSArrTime)) %>%
 select(TailNum, tempoAtraso) %>%
 unique() %>%
 arrange(tempoAtraso, TailNum) %>%
 head(10)

   TailNum tempoAtraso
1  N245AY  -2030.0000
2  N289YV  -1174.0000
3  N1610D  -1105.0000
4  N067AA  -1073.0000
5  N3DCAA   -919.6000
6  N791UA   -794.6667
7  N200UU   -779.3333
8  N583HA   -748.3333
9  N078AA   -705.0000
10 N062AA   -686.0000

### Pergunta 2) No experimento para mostrar o mês com menos atrasos, o que acontece se
executar a função unique() antes de executar a função select?


> Resposta 2) Como o conjunto de dados possui muitas variáveis ainda (5 no total), a função unique faz com que os dados repetidos sejam removidos. Porém, ela usa todas as variáveis existentes naquele momento, fazendo com que as 5 variáveis sejam utlizadas. Para garantir que somente as 12 observações sejam apresentadas, coloque a função unique no momento que realmente precise fazer a remoção de valores duplicados

In [24]:
  voos2008 %>%
 select(Month,DepDelay) %>%
 group_by(Month) %>%
 mutate(atrasoMedio = mean(DepDelay, na.rm = TRUE))  %>%
  unique() %>% 
 select(Month,atrasoMedio) %>%

 arrange(atrasoMedio)

     Month atrasoMedio
1    9     3.728758
2    9     3.728758
3    9     3.728758
4    9     3.728758
5    9     3.728758
6    9     3.728758
7    9     3.728758
8    9     3.728758
9    9     3.728758
10   9     3.728758
11   9     3.728758
12   9     3.728758
13   9     3.728758
14   9     3.728758
15   9     3.728758
16   9     3.728758
17   9     3.728758
18   9     3.728758
19   9     3.728758
20   9     3.728758
21   9     3.728758
22   9     3.728758
23   9     3.728758
24   9     3.728758
25   9     3.728758
26   9     3.728758
27   9     3.728758
28   9     3.728758
29   9     3.728758
30   9     3.728758
⋮    ⋮     ⋮
2827 12    17.9402
2828 12    17.9402
2829 12    17.9402
2830 12    17.9402
2831 12    17.9402
2832 12    17.9402
2833 12    17.9402
2834 12    17.9402
2835 12    17.9402
2836 12    17.9402
2837 12    17.9402
2838 12    17.9402
2839 12    17.9402
2840 12    17.9402
2841 12    17.9402
2842 12    17.9402
2843 12    17.9402
2844 12    17.9402
2845 12    17.9402
2846 12    17.9402
2847 12    17.9402
2848 12    17.9402
2849 12    17.9402
2850 12    17.9402
2851 12    17.9402
2852 12    17.9402
2853 12    17.9402
2854 12    17.9402
2855 12    17.9402
2856 12    17.9402