<a href="https://colab.research.google.com/github/jrenatom/tarefa1_PL_A1/blob/main/tarefaNoSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tarefa NoSQL e MongoDB

In [1]:
import datetime                            # Imports datetime library

import pymongo
from pymongo import MongoClient

# uri (uniform resource identifier) defines the connection parameters 
uri = 'mongodb://u1kkdrchfjim80tclysv:FeesC2ACNmI7be61RTst@brny4kjelauboxl-mongodb.services.clever-cloud.com:27017/brny4kjelauboxl'
# start client to connect to MongoDB server 
client = MongoClient( uri )

In [2]:
client.stats                                # .stats  show details about the client

Database(MongoClient(host=['brny4kjelauboxl-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'stats')

In [3]:
# Show existing database names
client.list_database_names()

['brny4kjelauboxl']

In [4]:
# Set database name to work with. If it doesn't exist, it will be created as soon as one document is added.
db = client.brny4kjelauboxl

In [5]:
# Delete a database
client.drop_database('brny4kjelauboxl')

In [6]:
# Create a new collection. We can create the collection or leave to MongoDB to create it as soon as a document is generated.
db.create_collection('adressbook')       # Optional collection creation

Collection(Database(MongoClient(host=['brny4kjelauboxl-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'brny4kjelauboxl'), 'adressbook')

In [7]:
# Show Collections. Query returns a Cursor [ ] ,  list it to see the content
list (db.list_collections())
# empty list '[]' means that there are not collections in database

[{'name': 'adressbook',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'\x1aw\x89\x18\x13\x11@\xdb\xbaZ\xec!l\x83n\xb4', 4)},
  'idIndex': {'v': 2,
   'key': {'_id': 1},
   'name': '_id_',
   'ns': 'brny4kjelauboxl.adressbook'}}]

In [8]:
# Set the collection to work with
collection = db.adressbook
collection.insert_one({'name' : 'jordi'})     # Insert one item to create the collection
list (collection.find())                  # Show the existing collections

[{'_id': ObjectId('633197e81b32f191a4f9d556'), 'name': 'jordi'}]

In [9]:
# Rename a collections
db.adressbook.rename('addressbook')
collection = db.addressbook                   # Set the collection to work with
list (db.list_collections())

[{'name': 'addressbook',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'\x1aw\x89\x18\x13\x11@\xdb\xbaZ\xec!l\x83n\xb4', 4)},
  'idIndex': {'v': 2,
   'key': {'_id': 1},
   'name': '_id_',
   'ns': 'brny4kjelauboxl.addressbook'}}]

In [10]:
# Delete collection
db.drop_collection('addressbook')

{'ns': 'brny4kjelauboxl.addressbook',
 'nIndexesWas': 1,
 'ok': 1.0,
 'operationTime': Timestamp(1664194560, 43),
 '$clusterTime': {'clusterTime': Timestamp(1664194560, 43),
  'signature': {'hash': b"\x84\xb8\xb4O\x98\xed\xd8\\\xa8\xf9\xef\x88\x04\xbb\x1f\x19m*d'",
   'keyId': 7106106537503883266}}}

# World Happiness Report -> MongoDB

In [11]:
import pandas as pd 
df=pd.read_csv('/content/world-happiness-report-2021.csv')

In [12]:
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [13]:
db.create_collection('world_happiness')

Collection(Database(MongoClient(host=['brny4kjelauboxl-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'brny4kjelauboxl'), 'world_happiness')

In [14]:
list (db.list_collections())

[{'name': 'world_happiness',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'3\xd1U\xc7\x89F@\xb8\x85\t\xa3\xd7\x88;\x03\x08', 4)},
  'idIndex': {'v': 2,
   'key': {'_id': 1},
   'name': '_id_',
   'ns': 'brny4kjelauboxl.world_happiness'}}]

In [16]:
import pandas as pd
import sys, getopt, pprint
from pymongo import MongoClient
import csv

In [ ]:
import csv 
import json 

def csv_to_json(csvFilePath, jsonFilePath):
    jsonArray = []
      
    #read csv file
    with open(csvFilePath, encoding='utf-8') as csvf: 
        #load csv file data using csv library's dictionary reader
        csvReader = csv.DictReader(csvf) 

        #convert each csv row into python dict
        for row in csvReader: 
            #add this python dict to json array
            jsonArray.append(row)
  
    #convert python jsonArray to JSON String and write to file
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
        jsonString = json.dumps(jsonArray, indent=4)
        jsonf.write(jsonString)
          
csvFilePath = r'data.csv'
jsonFilePath = r'data.json'
csv_to_json(csvFilePath, jsonFilePath)

In [21]:
records = csv.DictReader(df)
db.segment.insert(records)

TypeError: ignored